ahocorapy==1.6.1
aioblescan==0.2.6
attrs==20.3.0
Automat==20.2.0
beacontools==2.1.0
bleak==0.10.0
bluezero==0.3.0
certifi==2020.6.20
chardet==3.0.4
colorzero==1.1
constantly==15.1.0
construct==2.10.56
enum-compat==0.0.3
forex-python==1.5
future==0.18.2
gatt==0.2.7
gpiozero==1.5.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
numpy==1.19.3
Pillow==8.0.1
pkg-resources==0.0.0
pygatt==4.0.5
PyHamcrest==2.0.2
pyserial==3.5
requests==2.24.0
RPi.GPIO==0.7.0
rssi==1.0.2
simplejson==3.17.2
six==1.15.0
spidev==3.5
Twisted==20.3.0
txdbus==1.1.2
urllib3==1.25.11
zope.interface==5.2.0
